.edit-modal {
  padding: 0.4em;
  position: absolute;
  transition: all .5s ease-in-out;
  transform: translateY(-300%);
  background-color: #333333;
  width: 96%;
  z-index: 25;
  
}

.edit-modal--active {
  padding: 0.4em;
  position: absolute;
  transition: all .5s ease-in-out;
  transform: translateY(0);
  background-color: #333333;
  width: 96%;
  border-radius: 9px;
  border: 1px solid #c7c7c7;
  z-index: 25;

}

.edit-modal__cont {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.edit-modal__cont-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}
.edit-modal-input {
  padding: 0.2em;
  font-size: 1.1em;
  border-radius: 9px;
  border: none;
  width: 100%;
  background-color: #dbdbdb;
}

.edit-modal__btn-confirmar {
  font-size: 1.1em;
  padding: 0.3em 2em;
  border-radius: 15px;
  border: 1px solid #4b4b4b;
  background-color: #36363600;
  color: #ffffff;
  font-weight: bold;
}
