.gestion-reservas {
  color: #fff;
  border: 1px solid #4b4b4b;
  padding: 0.6em;
  border-radius: 8px;
  background-color: #33333355;


}

.gestion-reservas__cont {
  color: #fff;
  margin: 5px;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.gestion-reservas__cont-reserva {
  border: 1px solid #4b4b4b;

  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 0.3em;
  font-size: 1.3em;
}

.gestion-reservas__cont-icons {
  display: flex;
  justify-content: space-around;
  font-size: 1.2em;
}
