.modal-del {
  position: absolute;
   padding: 0.4em;
   width: 96%;
  transform: translateY(-150%);
  transition: all .5s ease-in-out;
   border: 1px solid #6b2a2b;
  background-color: #222222;
  z-index: 25;
}

.modal-del__cont{

}

.modal-del__cont-titulo{
padding: .2em 0 .6em 0;
}

.modal-del--active {
  padding: 0.4em;
  position: absolute;
  transition: all .5s ease-in-out;
  transform: translateY(0);
  background-color: #0d1117;
  width: 96%;
  border-radius: 9px;
  border: 1px solid #6b2a2b;
  z-index: 25;
}

.modal-del__cont-detalle{
  border-top: 1px solid #6b2a2b;
  padding: .5em 0 0 0;
}
.modal-del__detalle{
  display: flex;
  justify-content: space-between;
   padding: 0.2em 0.5em;
  font-weight: bold;
  border-radius: 9px;
}
.modal-del__detalle:hover{
background-color: #464646;
}

.modal-del__cont-btns{
  padding: 1em 0;
  display: flex;
  justify-content: space-between;
}


.modal-del__btn-confirmar{
 font-size: 1.1em;
  padding: 0.3em 2em;
  border-radius: 15px;
  border: 1px solid #636363;
  background-color: #212830;
  color: #fa5d55;
  font-weight: bold;
}

.modal-del__btn-cancelar{
     font-size: 1.1em;
  padding: 0.3em 2em;
  border-radius: 15px;
  border: 1px solid #4b4b4b;
   background-color: #212830;
  color: #ffffff;
  font-weight: bold;
}
